# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.suo
*.user

/out
/out_x64
/.vs
/Debug
/x64
/Release C-Only
/Release VBlend
/Release HScan
/_ReSharper.lcd3x